{% extends 'home/base.html' %}
{% block main %}
    <div class="about_box">
        <div class="about_inner">
            <h3>We're pretty new, but we're part of Zenith, and they've been leasing fleets of cars to big businesses for
                the last thirty years. Well, we didn't see why companies should get all the fun.

                We've invested in tonnes of tech (have you tried spec'ing your new car yet? We can give you a quote for
                the exact car you want in seconds. It's ace). And we've got our own car-loving New Car Squad who'll go
                out of their way to get you more car than you thought possible.

                We'll be with you all the way too. Our Support Squad can help you get your personalised plate sorted,
                make sure you have the docs you need when you finally get that road trip booked and know everything
                there is to know about servicing and MOTs. </h3>
        </div>
    </div>
{% endblock main %}