{% extends 'home/base.html' %}

{% block main %}
    {% load static %}
    <div class="main_box">
        <div class="main_inner">
            <div class="main_inner_top">
                <div class="main_inner_top_left">
                    <p><b>Brand:</b> {{ car.brand }}</p>
                    <p><b>Model:</b> {{ car.model }}</p>
                    <p><b>Year:</b> {{ car.year }}</p>
                    <p><b>Mileage:</b> {{ car.mileage }}</p>
                </div>
                <div class="main_inner_top_right">
                    <p><b>Engine:</b> {{ car.engine }}</p>
                    <p><b>Type of fuel:</b> {{ car.type_of_fuel }}</p>
                    <p><b>Type of gearbox:</b> {{ car.type_of_gearbox }}</p>
                    <p><b>First payment:</b> {{ car.first_payment }}</p>
                </div>
            </div>
            <div class="main_inner_bottom">
                {% if request.user.is_superuser %}

                    <form class="admin_panel_form_original" enctype="multipart/form-data"
                          action="" method="post">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="submit" value="Submit">
                    </form>
                {% endif %}
                {% for photo in car_portfolio %}
                    <div class="photo_box">
                        <img class="img_portfolio" src="{{ photo.img.url }}" alt="">
                        {% if request.user.is_superuser %}
                            <a href="{% url 'details:photo_in_portfolio_delete' photo.id car.id %}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock main %}