{% extends 'home/base.html' %}
{% block main %}
    <div class="form_box">
        <div class="form_inner">
            <form class="form_original" method="post">
                {% csrf_token %}
                <h4>Fill in the data and we will call you back</h4>
                {{ form.as_p }}

                {#                <label for="car_brand"></label>#}
                {#                <input id="car_brand" type="text" name="car_brand" value="Enter car brand">#}
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock main %}