body, .album {
    background-image: url("HD-1080p-Cars-Wallpapers-Free.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

body {
    height: auto;
}

footer {
    background-color: RGBA(33, 37, 41, 2);
}

.absolute_box {
    width: 450px;
    height: 330px;
    border-radius: 10px;
    position: absolute;
    background: rgba(224, 222, 201, 0.4);
    opacity: 70%;
    left: 14%;
    top: 100px;

}

.form_absolut  {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
input{
    width: 80%;
    border-radius: 2px;


}

.form_absolut p{
    width: 300px;
font-size: 20px;
}

